    <div id="sidebar">
      <div id="subscribe">
        <a type="application/rss+xml" rel="alternate" title="Subscribe to my feed" href="/feed/atom.xml">
          <img alt="subscribe" src="/images/feed.png" />
        </a>
      </div>

      <div>
        <p>I work at <a href="http://engineyard.com">Engine Yard</a> on <a href="http://rubini.us">Rubinius</a>. <a href="http://engineyard.com">Engine Yard offers Rails Hosting.</a></p>

        <p>I'm <a href="http://twitter.com/brixen">@brixen</a> on Twitter.</p>
      </div>

      <h2 id="latest_posts">Latest posts</h2>
      <ul>
      {% for post in site.posts limit:15 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
      <p><a href="/posts_index.html">Show All Posts</a></p>
    </div>
